:root {
  --clr-neutral-400: #ffffff;
  --clr-neutral-300: #000000f7;
  --clr-universal-400: #e50914;
  --clr-universal-300: #00000091;
  --clr-newsletter: rgba(22, 22, 22, 0.7);
  --clr-newsletter-border: rgba(128, 128, 128, 0.7);
  --clr-newsletter-text: rgba(255, 255, 255, 0.7);
}
