@use './../../../scss/abstracts/mixins' as *;

.select {
  [class$='-control'] {
    background-color: var(--clr-neutral-300);
    font-weight: 700;
    @include media(30rem) {
      padding: 0 0.25rem;
    }
  }
  [class$='-singleValue'] {
    color: var(--clr-neutral-400);
    @include media(30rem) {
      display: none;
    }
  }
}
