@use './../../../scss/abstracts/mixins' as *;

.btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-family: inherit;
  &--newsletter {
    color: var(--clr-neutral-400);
    background-color: var(--clr-universal-400);
    font-weight: 700;
    border-radius: 4px;
    padding: 0 2rem;
    height: 100%;
    font-size: 1.2rem;
    @include media(42rem) {
      padding: 1rem 2rem;
    }
  }
  &--faq {
    @include flex-mother(row, center, space-between);
    gap: 1rem;
    padding: 1.6rem 1rem;
    width: 100%;
    min-height: 3rem;
    color: var(--clr-neutral-400);
  }
}
